<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="sales-order-payment-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet"
            href="/services/web/codbex-order-payment-ext/generate/SalesOrderPayment/generate-sales-order-payment.css">
        <style>
            .wide-form .dialog-content {
                width: 50%;
                max-width: 1200px;
            }

            .wide-form .fd-col-md--6,
            .wide-form .fd-col-md--8 {
                flex: 0 0 auto;
                width: 60%;
            }

        </style>
        <script src="generate-sales-order-payment-controller.js"></script>
    </head>

    <body class="wide-form">
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">
                <div class="title">Create Sales Order Payment</div>
                <div class="line"></div>

                <fd-scrollbar class="dg-full-height">
                    <fd-fieldset ng-form="forms.details">
                        <fd-form-group dg-header="Create Sales Order Payment" name="entityForm"
                            class="fd-container fd-form-layout-grid-container">
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idDate" dg-required="true" dg-colon="true">Date</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--6 fd-col--3">
                                    <fd-form-input-message-group dg-inactive="{{ forms.details['Date'].$valid }}">
                                        <fd-input id="idDate" name="Date"
                                            state="{{ forms.details['Date'].$valid ? '' : 'error' }}" ng-required="true"
                                            ng-model="entity.Date" ng-readonly="action === 'select'" type="date">
                                        </fd-input>
                                        <fd-form-message dg-type="error">Incorrect Input</fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idValor" dg-required="true" dg-colon="true">Valor
                                    </fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--6">
                                    <fd-form-input-message-group dg-inactive="{{ forms.details['Valor'].$valid }}">
                                        <fd-input id="idValor" name="Valor"
                                            state="{{ forms.details['Valor'].$valid ? '' : 'error' }}"
                                            ng-required="true" ng-model="entity.Valor" ng-readonly="action === 'select'"
                                            type="date">
                                        </fd-input>
                                        <fd-form-message dg-type="error">Incorrect Input</fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idCounterpartyIBAN" dg-required="false" dg-colon="true">
                                        CounterpartyIBAN</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--8">
                                    <fd-form-input-message-group
                                        dg-inactive="{{ forms.details['CounterpartyIBAN'].$valid }}">
                                        <fd-input id="idCounterpartyIBAN" name="CounterpartyIBAN"
                                            state="{{ forms.details['CounterpartyIBAN'].$valid ? '' : 'error' }}"
                                            ng-required="false" ng-model="entity.CounterpartyIBAN"
                                            ng-readonly="action === 'select'" ng-minlength="0.0 || 0"
                                            ng-maxlength="22.0 || -1" dg-input-rules="{ patterns: [''] }" type="text"
                                            placeholder="Enter CounterpartyIBAN">
                                        </fd-input>
                                        <fd-form-message dg-type="error">The value doesn't match the required pattern ''
                                        </fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idCounterpartyName" dg-required="false" dg-colon="true">
                                        CounterpartyName</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--8">
                                    <fd-form-input-message-group
                                        dg-inactive="{{ forms.details['CounterpartyName'].$valid }}">
                                        <fd-input id="idCounterpartyName" name="CounterpartyName"
                                            state="{{ forms.details['CounterpartyName'].$valid ? '' : 'error' }}"
                                            ng-required="false" ng-model="entity.CounterpartyName"
                                            ng-readonly="action === 'select'" ng-minlength="0.0 || 0"
                                            ng-maxlength="100.0 || -1" dg-input-rules="{ patterns: [''] }" type="text"
                                            placeholder="Enter CounterpartyName">
                                        </fd-input>
                                        <fd-form-message dg-type="error">The value doesn't match the required pattern ''
                                        </fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idDescription" dg-required="false" dg-colon="true">Description
                                    </fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--8">
                                    <fd-form-input-message-group
                                        dg-inactive="{{ forms.details['Description'].$valid }}">
                                        <fd-input id="idDescription" name="Description"
                                            state="{{ forms.details['Description'].$valid ? '' : 'error' }}"
                                            ng-required="false" ng-model="entity.Description"
                                            ng-readonly="action === 'select'" ng-minlength="0.0 || 0"
                                            ng-maxlength="100.0 || -1" dg-input-rules="{ patterns: [''] }" type="text"
                                            placeholder="Enter Description">
                                        </fd-input>
                                        <fd-form-message dg-type="error">The value doesn't match the required pattern ''
                                        </fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idAmount" dg-required="true" dg-colon="true">Amount
                                    </fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--6">
                                    <fd-step-input dg-id="idAmount" name="Amount"
                                        state="{{ forms.details['Amount'].$valid ? '' : 'error' }}" dg-required="true"
                                        ng-model="entity.Amount" is-readonly="action === 'select'"
                                        placeholder="Enter Amount">
                                    </fd-step-input>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--3">
                                    <fd-form-label for="idPaymentMethod" dg-required="true" dg-colon="true">
                                        PaymentMethod</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--8">
                                    <fd-combobox-input id="idPaymentMethod" name="PaymentMethod"
                                        state="{{ forms.details['PaymentMethod'].$valid ? '' : 'error' }}"
                                        ng-required="true" ng-model="entity.PaymentMethod"
                                        dg-disabled="action === 'select'" dropdown-items="optionsPaymentMethod"
                                        dg-placeholder="Search PaymentMethod ...">
                                    </fd-combobox-input>
                                </div>
                            </fd-form-item>
                            <fd-bar class="dialog-buttons" bar-design="footer" compact="true"
                                ng-show="action !== 'select'">
                                <fd-bar-right>
                                    <fd-bar-element>
                                        <fd-button class="button" dg-label="Create" dg-type="emphasized"
                                            ng-click="create()" state="{{ forms.details.$valid ? '' : 'disabled' }}">
                                        </fd-button>
                                    </fd-bar-element>
                                    <fd-bar-element>
                                        <fd-button class="button red-button" dg-label="Cancel" dg-type="transparent"
                                            ng-click="closeDialog()">
                                        </fd-button>
                                    </fd-bar-element>
                                </fd-bar-right>
                            </fd-bar>
                        </fd-form-group>
                    </fd-fieldset>
                </fd-scrollbar>
            </div>
        </div>
    </body>

</html
