<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="customer-payment-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet"
            href="/services/web/codbex-order-payment-ext/generate/CustomerPayment/generate-customer-payment.css">
        <script src="generate-customer-payment-controller.js">
        </script>
    </head>

    <body>
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">
                <div class="title">Generate Customer Payment</div>
                <div class="line"></div>

                <fd-scrollbar class="dg-full-height">
                    <fd-fieldset ng-form="forms.details">
                        <fd-form-group dg-header="{{formHeaders[action]}}" name="entityForm"
                            class="fd-container fd-form-layout-grid-container">
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--4">
                                    <fd-form-label for="idDate" dg-required="true" dg-colon="true">Date</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--6 fd-col--3">
                                    <fd-form-input-message-group dg-inactive="{{ forms.details['Date'].$valid }}">
                                        <fd-input id="idDate" name="Date"
                                            state="{{ forms.details['Date'].$valid ? '' : 'error' }}" ng-required="true"
                                            ng-model="entity.Date" ng-readonly="action === 'select'" type="date">
                                        </fd-input>
                                        <fd-form-message dg-type="error">Incorrect Input</fd-form-message>
                                    </fd-form-input-message-group>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--4">
                                    <fd-form-label for="idAmount" dg-required="true" dg-colon="true">Amount
                                    </fd-form-label>
                                </div>
                                <div class="fd-col--3  fd-col-md--6 ">
                                    <fd-step-input dg-id="idAmount" name="Amount"
                                        state="{{ forms.details['Amount'].$valid ? '' : 'error' }}" dg-required="true"
                                        ng-model="entity.Amount" is-readonly="action === 'select'"
                                        placeholder="Enter Amount">
                                    </fd-step-input>
                                </div>
                            </fd-form-item>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--4">
                                    <fd-form-label for="idPaymentMethod" dg-required="true" dg-colon="true">
                                        PaymentMethod</fd-form-label>
                                </div>
                                <div class="fd-col  fd-col-md--6 ">
                                    <fd-combobox-input id="idPaymentMethod" name="PaymentMethod"
                                        state="{{ forms.details['PaymentMethod'].$valid ? '' : 'error' }}"
                                        ng-required="true" ng-model="entity.PaymentMethod"
                                        dg-disabled="action === 'select'" dropdown-items="optionsPaymentMethod"
                                        dg-placeholder="Search PaymentMethod ...">
                                    </fd-combobox-input>
                                </div>
                            </fd-form-item>
                            <!-- <div class="main-text">
                                <p>Are you sure you want to generate the customer payment?</p>
                            </div> -->
                            <div class="dialog-buttons">
                                <button ng-click="generateInvoice()" class="button">Yes</button>
                                <button ng-click="closeDialog()" class="button">No</button>
                            </div>
            </div>
        </div>
    </body>

</html>
